body {
  background-color: transparent !important;
}

#callsignBox {
  background: none;
  border-bottom: 1px solid rgba(var(--va-accent-back-color), 1);
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.fw-lighter {
  font-weight: lighter !important;
  opacity: 0.5 !important;
}
.fs-7 {
  font-size: 0.8rem !important;
}

.map {
  border: 1px solid var(--background-accent-color);
  border-radius: 4px;
}

.leaflet-popup.leaflet-zoom-animated,
.leaflet-popup-content-wrapper {
  margin-right: 0 !important;
}

.leaflet-popup-content div {
  margin-bottom: 0.2rem;
}

.label_content {
  position: relative;
  border-radius: 3px;
  padding: 3px;
  color: #ffffff;
  background-color: #c50202;
  width: 40px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-wrap: nowrap;
}

.label_content::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	height: 0;
	border-top: solid 5px #c50202;
	border-left: solid 5px transparent;
	border-right: solid 5px transparent;
}

.modal-background {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
}

.items-center {
  align-items: center;
}
.flex {
  display: flex;
}

.marker,
.aircraft,
.text-nowrap a {
  display: flex;
  align-items: center;
}

.loading {
  opacity: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.inline-flex {
  display: inline-flex !important;
}

.iconify {
  margin-right: 0.25rem;
  font-size: 1rem;
  margin-top: 2px;
}

.img-circle {
  object-fit: cover;
  border-radius: 50%;
}

img.airlineImage,
img.countryImage,
img.aircraftImage,
img.profileImage {
  width: 20px;
  height: 20px;
  margin-right: 0.25rem;
}

.bg-slate {
  background-color: rgb(241 245 249);
}

.text-green-500 {
  color: rgb(34 197 94);
}

.grid div {
  margin-right: 0.5rem;
}

.button-disabled {
  background-color: #d3d3d3; /* Light grey background */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  opacity: 0.6; /* Reduce opacity */
}

.info-alert {
  display: flex;
  align-items: flex-start; 
  padding: 1rem; 
  margin-bottom: 1rem; 
  background-color: #032830; 
  border: 1px solid #087990;
  border-radius: 0.5rem; 
  color: #6edff6; 
}

.info-alert-icon {
  width: 1.5rem; 
  height: 1.5rem; 
  flex-shrink: 0; 
  margin-right: 0.75rem; 
  color: #6edff6; 
}

.info-alert-content {
  font-size: 1rem; 
  font-weight: 500; 
}
